/* Categories Page */

.categories {
    background: white;
    height: 100vh;
}

.cat {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include bp (480) {
        width: 100%;
    }
}

.sectionHeading, .filmTitle {
    flex-basis: 100%;
    text-align: left;
}

.buttonSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categoryButton {
    width: calc(100% / 4 - 10px);
    height: 200px;
    display: block;
    margin: 2.5px 5px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 1px gold;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: "Karla";
    transition: all 200ms;
    @include bp(900) {
        width: calc(100% / 3 - 10px);
    }
    @include bp (570) {
        width: calc(100% / 2 - 10px);
        height: 150px;
    }
    @include bp(480) {
        width: 100%;
        height: 70px;
        margin: 0;
        border-radius: 0;
    }
}

.categoryButton__last {
    @include bp(900) {
        width: calc(100% / 2 - 10px);
    }
    @include bp(570) {
        height: 150px;
    }
    @include bp(480) {
        width: 100%;
        height: 70px;
    }
}



.categoryButton:hover {
    cursor: pointer;
    font-size: 3rem;
}

.cat--Sport {
    background-image: url("./assets/josh-nuttall-305072-sport.jpg");
    background-size: cover;
}

.cat--Nature {
    background-image: url("./assets/daniil-silantev-318853-nature.jpg");
    background-size: cover;
}

.cat--Culture {
    background-image: url("./assets/vitaliy-lyubezhanin-385454-culture.jpg");
    background-size: cover;
}

.cat--Music {
    background-image: url("./assets/edward-cisneros-411006-music.jpg");
    background: linear-gradient(0,0,0, 0.4);
    background-size: cover;
}

.cat--War {
    background-image: url("./assets/israel-palacio-463979-war.jpg");
    background-size: cover;
    background: linear-gradient(0,0,0, 0.4);
}

.cat--Justice {
    background-image: url("./assets/christopher-burns-360256-unsplash.jpg");
    background-size: cover;
}

.cat--Art {
    background-image: url("./assets/steve-johnson-643285-art.jpg");
    background-size: cover;
}

.cat--Architecture {
    background-image: url("./assets/coline-beulin-603726-architecture.jpg");
    background-size: cover;
}
