/* Display Film */

.displayResults {
    padding: 50px 0;
}

.displayResults .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filmSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eachFilm {
    width: calc(100% / 4 - 20px);
    margin: 10px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}


.filmTitle h3 {
    text-align: center;
    color: gold;
    line-height: 2.2rem;
}

.displayButton {
    background: gold;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    right: -15px;
    z-index: 99;
    transition: all 200ms;
    &:hover {
        background: white;
        color: gold;
    }
}

.displayButtonBottom {
    top: 25px;
    z-index: 99;
}



