/* Navigation */

.navigation {
    position: fixed;
    width: 100%;
    z-index: 101;
}

.navUL {
    display: flex;
    list-style: none;
    margin-top: 30px;
    justify-content: flex-end;
}

.navigation ul li a {
    color: gold;
    font-size: 2rem;
    text-shadow: 1px 1px rgb(224, 98, 108);
    text-decoration: none;
    padding: 5px 0 5px 30px;
}

.navigation ul li a:hover {
    color: lightblue;
}