/* Navigation */

.navigation {
    position: fixed;
    width: 100%;
    z-index: 101;
}

.navUL {
    display: flex;
    list-style: none;
    margin-top: 30px;
    justify-content: flex-end;
}

.navigation ul li a {
    color: grey;
    font-size: 2rem;
    text-shadow: 1px 1px 1px gold;
    text-decoration: none;
    padding: 5px 0 5px 30px;
}

.navigation ul li a:hover {
    color: lightblue;
}

.savedItem {
    position: relative;
}
.savedNumber {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: gold;
    position: absolute;
    top: 2px;
    left: 5px;
}