/* Saved Film */

.savedResults {
    background-color: white;
    padding: 50px;
}

.savedFilms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eachFilm--saved {
    width: calc(100% / 4 - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
    border: 5px solid gold;
    @include bp (736) {
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
}

.savedFilmImage {
    width: 100%;
    padding: 5px;
}

.savedFilmInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 10px;
    color: black;
}

.filmTitleSaved h3 {
    line-height: 2rem;
}

.deleteButton, .moreInfoButton {
    background: gold;
    border: 3px solid gold;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: -25px;
    z-index: 99;
    transition: all 200ms;
    &:hover {
        background: white;
        color: gold;
    }
}

.moreInfoButton {
    position: absolute;
    top: -30px;
}