body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    font-size: 1.6rem;
    background-image: url('./assets/joshua-hanks-661672-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

button {
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 15px;
}

// Mixins

@mixin bp($point) {
  @if $point == 1068 {
    @media (max-width: 1068px) { @content; }
  }
  @else if $point == 900 {
    @media (max-width: 900px) { @content; }
  }
  @else if $point == 736 {
    @media (max-width: 736px)  { @content; }
  }
  @else if $point == 570 {
    @media (max-width: 570px) { @content; }
  }
  @else if $point == 480 {
    @media (max-width: 480px)  { @content; }
  }
}