article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Typography */
html {
  font-size: 62.5%; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: "Spectral", sans-serif;
  text-transform: uppercase;
  line-height: 3.4rem; }

h1 {
  font-size: 5.6rem; }

h2 {
  font-size: 2.8rem;
  font-family: "Karla", sans-serif; }

h3 {
  font-size: 1.8rem;
  font-family: "Karla", sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-image: url("./assets/joshua-hanks-661672-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed; }

img {
  max-width: 100%; }

figure {
  margin: 0;
  padding: 0; }

button:hover {
  cursor: pointer; }

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto; }

button {
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  margin-top: 15px; }

/* Navigation */
.navigation {
  position: fixed;
  width: 100%;
  z-index: 101; }

.navUL {
  display: flex;
  list-style: none;
  margin-top: 30px;
  justify-content: flex-end; }

.navigation ul li a {
  color: gold;
  font-size: 2rem;
  text-shadow: 1px 1px #e0626c;
  text-decoration: none;
  padding: 5px 0 5px 30px; }

.navigation ul li a:hover {
  color: lightblue; }

/* Categories Page */
.categories {
  background: white;
  height: 100vh; }

.cat {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 480px) {
    .cat {
      width: 100%; } }

.sectionHeading, .filmTitle {
  flex-basis: 100%;
  text-align: left; }

.buttonSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.categoryButton {
  width: calc(100% / 4 - 10px);
  height: 200px;
  display: block;
  margin: 2.5px 5px;
  color: gold;
  font-weight: 700;
  text-shadow: 2px 4px white;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-family: "Karla"; }
  @media (max-width: 900px) {
    .categoryButton {
      width: calc(100% / 3 - 10px); } }
  @media (max-width: 570px) {
    .categoryButton {
      width: calc(100% / 2 - 10px);
      height: 150px; } }
  @media (max-width: 480px) {
    .categoryButton {
      width: 100%;
      height: 70px;
      margin: 0;
      border-radius: 0; } }

@media (max-width: 900px) {
  .categoryButton__last {
    width: calc(100% / 2 - 10px); } }

@media (max-width: 570px) {
  .categoryButton__last {
    height: 150px; } }

@media (max-width: 480px) {
  .categoryButton__last {
    width: 100%;
    height: 70px; } }

.categoryButton:hover {
  cursor: pointer;
  font-size: 3rem; }

.cat--Sport {
  background-image: url("./assets/josh-nuttall-305072-sport.jpg");
  background-size: cover; }

.cat--Nature {
  background-image: url("./assets/daniil-silantev-318853-nature.jpg");
  background-size: cover; }

.cat--Culture {
  background-image: url("./assets/vitaliy-lyubezhanin-385454-culture.jpg");
  background-size: cover; }

.cat--Music {
  background-image: url("./assets/edward-cisneros-411006-music.jpg");
  background: linear-gradient(0, 0, 0, 0.4);
  background-size: cover; }

.cat--War {
  background-image: url("./assets/israel-palacio-463979-war.jpg");
  background-size: cover;
  background: linear-gradient(0, 0, 0, 0.4); }

.cat--Justice {
  background-image: url("./assets/clem-onojeghuo-381204-justice.jpg");
  background-size: cover; }

.cat--Art {
  background-image: url("./assets/steve-johnson-643285-art.jpg");
  background-size: cover; }

.cat--Architecture {
  background-image: url("./assets/coline-beulin-603726-architecture.jpg");
  background-size: cover; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-image: url("./assets/joshua-hanks-661672-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed; }
