@import "styles/_setup.scss";
@import "styles/_typography.scss";
@import "styles/_utilities.scss";
@import "styles/_navBar.scss";
@import "styles/_categorySearch.scss";

@mixin bp($point) {
  @if $point == 1068 {
    @media (max-width: 1068px) { @content; }
  }
  @else if $point == 900 {
    @media (max-width: 900px) { @content; }
  }
  @else if $point == 736 {
    @media (max-width: 736px)  { @content; }
  }
  @else if $point == 570 {
    @media (max-width: 570px) { @content; }
  }
  @else if $point == 480 {
    @media (max-width: 480px)  { @content; }
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  background-image: url("./assets/joshua-hanks-661672-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed; }
